#titulo{
    color: rgb(53, 194, 18);
}

div{
    border-top: 15px solid rgb(1, 116, 20);
  border-right: 15px solid rgb(1, 116, 20);
  border-bottom: 15px solid rgb(1, 116, 20);
  border-left: 15px solid rgb(1, 116, 20);
}