<section class="container">
    <h1 class="text-center titulo">Bienvenido al HOME</h1>
    <section class="row ">
        <section class="col titulo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In nisi, aut quos dolorem fugiat deleniti repellendus impedit fuga, sunt delectus aliquid quis sit mollitia minima reiciendis sed incidunt ducimus sint?</p>
        </section>
        <section class="col titulo">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, ea voluptate mollitia eligendi veniam nostrum, reiciendis vero inventore assumenda facere modi officiis quam dolorum. Magnam quos cumque voluptatibus aperiam corrupti?</p>
        </section>
    </section>
</section>