body{
    background-image: url("../.././reto22-angular/src/assets/f.elconfidencial.com_original_4e7_001_917_4e70019171f010d95b7914c9bdd2c20a.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
